section{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "image description";
    padding-bottom: 128px;
}

.image{
    grid-area: image;
    display: flex;
    justify-content: flex-end;
    padding: 56px 100px 56px 512px;
}
.image img{
    width: 100%;
    height: 100%;
}
.description{
    grid-area: description;
    padding-top: 56px;
    padding-bottom: 56px;
    margin-right: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* text styling */
h1{
    color: black;
    font-family: "American Typewriter", "Lucida Console", monospace;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.8;
}
h2{
    color: black;
    font-family: "American Typewriter", "Lucida Console", monospace;
    font-size: 48px;
    margin-bottom: 56px;
}
h3{
    color: #DE7C46;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
p{
    color: black;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    font-size: 21px;
    margin-top: 16px;
    margin-right: 96px;
    line-height: 1.4;
}
.button .btn{
    color: black;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
    text-align: center;
}

/* price and add to cart button */
.purchase{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 96px;
    margin-top: 96px;
}
.purchase .button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DE7C46;
    height: 60px;
    width: 22vw;
    border-radius: 10px;
    margin-left: 1.25vw;
}
.purchase .button:hover{
    opacity: .8;
}

@media screen and (max-width: 1280px) {
    section{
        grid-template-columns: auto;
        grid-template-rows: 1fr .7fr;
        grid-template-areas: 
            "image"
            "description";
    }
    .image, .description{
        margin: 5vw 0px;
        padding: 0px 5vw;
    }
    .description{
        justify-content: flex-start;
        margin: 0px;
    }
    .purchase{
        margin-top: 10vw;
    }
}