/* setting up the page with grid */
body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 5vw auto;
    grid-template-areas: 
        "navbar navbar"
        "sidebar main";
}

aside{
    grid-area: sidebar;
    background-color: #E4E4E4;
}
.main{
    grid-area: main;
    background: #EAE3D9;
}

/* text styling */
h1{
    color: #DE7C46;
    font-family: "American Typewriter Condensed", "Lucida Console", monospace;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: .4vw;
}
h2{
    color: black;
    font-family: "American Typewriter", "Lucida Console", monospace;
    font-size: 1vw;
    font-weight: bold;
    line-height: 1.6;
    text-indent: 1.25vw;
    padding-top: .4vw;
}
h3{
    color: black;
    font-family: "American Typewriter", "Lucida Console", monospace;
    font-size: 1.25vw;
    padding-left: 1.25vw;
}
h4{
    color: #DE7C46;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
    text-align: right;
    padding-top: .2vw;
    padding-bottom: .8vw;
}
h5{
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    font-size: 1.25vw;
    font-weight: lighter;
    padding-bottom: .8vw;
}
.filter a{
    text-decoration: none;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1vw;
    line-height: 2;
}

/* sidebar styling */
.filter{
    border-style: solid;
    border-width: 1.5px 0px 0px 0px;
    border-color: #B9AE98;
    padding: 3vw;
}
.filter a:hover{
    text-decoration: underline;
}

/* rows and columns of products */
.heading{
    display: flex;
    justify-content: flex-start;
    max-width: 79vw;
    margin-left: 3.75vw;
    padding: 3vw 0px 1.25vw .8vw;
}
.main .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    max-width: 79vw;
    margin-left: 3.85vw;
}
.main .row .col-4{
    padding: .8vw;
}
.main .row .col-4:hover{
    background-color: #E4E4E4;
    opacity: .8;
}
.main .row .col-4 img{
    width: 100%;
}

/* page navigator */
.page-nav{
    display: flex;
    justify-content: center;
    margin: 2.5vw auto 3vw auto;
}
.page-nav span{
    display: inline-block;
    border: 1px solid #707070;
    /* margin: 0 8px; */
    height: 2.6vw;
    width: 2.6vw;
    cursor: pointer;
    /* button text styling */
    text-align: center;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    line-height: 2.6vw;
}
.page-nav .arrow{
    margin-left: .4vw;
    margin-right: .4vw;
}
.page-nav .arrow span{
    background-color: #106365;
    color: #E4E4E4;
    font-size: 1.875vw;
}
.page-nav .number span{
    background-color: #E4E4E4;
    color: #707070;
    font-size: 1.5vw;
}

@media screen and (max-width: 1280px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 5vw auto;
        grid-template-areas: 
            "navbar"
            "main";
    }
    aside{
        visibility: hidden;
    }
    .main{
        width: 100vw;
        margin: 0;
    }

    .main .row {
        grid-template-columns: 1fr 1fr;
    }
}